<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">

  <a routerLink="/bienvenidos" class="menu-item" style="margin-left:5%;">Bienvenidos</a>
  <a routerLink="/login" class="menu-item">Login</a>
  <a routerLink="/error" class="menu-item">Error</a>
</div>

<div style="margin-top:80px;">
  <router-outlet>
    Seleccione el elemento que quiera mostrar
  </router-outlet>
</div>